@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --text-color: #343A40;
  --bg: #E9ECEF;
  --footer-bgcolor: #CED4DA;
}

* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

.container {
  width:  80%;
  margin: auto;
  position: relative;
  height: 100%;
}

header {
  background-color:  var(--bg);
}

.logo {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;

}
.logo__logo {
  display: flex;
  margin-bottom: 3rem;
  align-items : center;
  margin: auto 0;
}

.logo__logo > * {
  margin-right: 3rem; 
  font-size: .8rem;
  
}

.logo__img {
  width: 4rem;
}

.header__nav {
  display: flex;
}

.lang {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  display: none;
}

.lang__eng {
  margin-right: .7rem;
  font-size: .8rem;
}

.lang__img {
 width: .8rem;

}

.hero {
  position: relative;
  margin-top: 2rem;
}

.car_img {
  width: 80%;
  display: block;
  margin :0 auto;
}

.price {
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  top: 3%;
  left: 50%;
  transform : translate(-50%, -50%);
}

.price__value {
  margin-bottom: .5rem;
  width: 7rem;
}

.price__location {
  width: 6rem;
}


.icons  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}


.icons img:nth-child(1){
  width: 2rem;
}
.icons img:nth-child(2){
  width: 2rem;
}
.icons img:nth-child(3){
  width: 1.7rem;
}
.icons img:nth-child(4){
  width: 2.4rem;
}

footer {
  height: 10vh;
  position: relative;
}


footer * {
  color: #3B4046;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bold {
  font-weight: bolder;
}

.footer__content > div:nth-child(1) {
  font-size: .75rem;
  margin-bottom: 3px;
}

.footer__content > div:nth-child(2) {
  font-size: .7rem;
}

.details_container {
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details_container button {
  padding: .8rem 4rem;
  border-radius: 30px;
  background-color: #141414;
  color: white;
}

.hidden__small {
  display: none;
}

@media (max-width: 600px) {
  .price {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    position: absolute;
    top: 3%;
    left: 15%;
    transform : translate(-50%, -50%);
  }
}

@media (min-width: 900px) {

  .hidden__small {
    display: block;
  }
  

  body {
    overflow: hidden;
    height: 100vh;
  }

  header {
    height: 100vh;
  }

  .hero {
    height: 80vh;
    margin: 0;
    padding: 0;
  }

  .price {
    top: 8%;
    left: 10%;
    transform : translate(-50%, -50%);
  }

  .lang {
    display: flex;
  }

  .icons img {
    position: absolute;
    right: 0;
  }
  
  .icons img:nth-child(1){
    top: 26.25vh;
    width: 1.7rem;
  }

  .icons img:nth-child(2){
    top:47.5vh ;
    width:.7rem ;
  }
  .icons img:nth-child(3){
    top:68.75vh ;
    width:1.4rem ;
    
  }
 
  footer {
    height: 10vh;
    background-color: var(--footer-bgcolor);
    position: relative;
    z-index: 3;
  }

  footer .linethrough {
    width: 100%;
    height: .5vh;
    background-color:  #31363C;
    position: absolute;
    top: 0;
    left: 0;
  }

  .details_container {
    display: none;
  }

  .coloring {
    background-color: var(--footer-bgcolor);
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    z-index: 2;
  }

  .coloring:before {
    content: '';
    display: block;
    width: 100%;
    height: .5vh;
    background-color:  #31363C;
    position: absolute;
    top: 0;
    left: 0;
  }

}